<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutVistula</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="--font-Josefin --font-Poppin bg-gradient-to-b bg-no-repeat from-gray-900 to-black">
    <%= render "shared/header" %>
    <%= render "shared/flash", flash: flash %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
